@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

#map-a img,
#map-c img{
	max-height: 50vh;
}

header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

header p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header p{
	text-align: right;
}

[epub|type~="z3998:letter"] > header + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] [epub|type~="se:letter.dateline"]{
	font-style: italic;
	font-variant: normal;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
